/* ***RESETS Y HOJAS DE ESTILO IMPORTADAS*** */

/* reset completo importado desde reset.css que mantenemos en la carpeta CSS */
@import url(reset.css);

/* google fonts handlee 400, montserrat 400 y 700 */
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

/* iconos de fontawesome */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css");

/* border box en todos los navegadores */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

/* ---FIN RESETS Y HOJAS DE ESTILO IMPORTADAS--- */

/* ***ESTILO GENERAL DE LA WEB*** */

/* estilos genericos de la web de texto, colores y ancho, para poder cambiar toda la web en una unica linea mediante variables */
:root {
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --fuenteprincipal: "montserrat", sans-serif;
    --fuentesecundaria: "handlee", cursiva;
    --anchoMaximo: 1100px;
}

/* tamaño y fuente generica */
body {
    font-family: var(--fuenteprincipal);
    font-size: 1em;
}

/* configuracion de imagenes, 100% de su contenedor, altura auto y en bloque; para que todas las imagenes ocupen la totalidad del contenedor */
img {
    width: 100%;
    height: auto;
    display: block;
}

/* para mantener el mismo ancho en toda la web, utilizando la variable creada en root */
.container {
    max-width: var(--anchoMaximo);
    margin: 0 auto;
}

/* incluimos una class flex para poder aplicar display flex donde lo necesitemos */
.flex {
    display: flex;
}

/* ---FIN ESTILO GENERAL DE LA WEB--- */

/* ***INICIO HEADER*** */ 

/* color y aire del nav_top */
header .nav_top {
    background-color: var(--color-secundario);
    padding: 20px 10px;
}

/* color y estilo de los enlaces del nav_top */
header .nav_top a {
    color:  white;
    text-decoration: none;
    font-size: 120%;
} 

/* hacemos que desaparezca el texto en el header, modificandolo con media queries segun el tamaño */
header .nav_top a span {
    display: none;
}

/* hacemos que los iconos del header se repartan el espacio, utilizando display flex unicamente a ese elemento */
header .nav_top .flex {
    justify-content: space-between;
}

/* color de los iconos del nav_top */
header .nav_top i{
    color: var(--color-principal);
}

/* aire de los enlaces */
header nav {
    padding: 20px;
}

/* tamaño del logo */
header .logo {
    max-width: 110px;
}

/* estilo del menu desplagable, con cursor pointer hacemos que todo el espacio sea clicable */
header .hamburguesa {
    width: 50px;
    cursor: pointer;
}

/* dibujamos las rallas de la hamburguesa con los tres divs que tenemos en HTML */
header .hamburguesa div {
    border-top: 2px solid grey;
    margin: 10px;
}

/* aplicamos display flex en nav, de forma que el logo, la hamburguesa y los items funcionen como flex. con wrap y un tamaño de los items del 100% hacemos que los items tengan que bajar de linea, con space between hacemos que el logo y la hamburguesa se coloquen en cada lado */
header nav .flex {
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul {
    width: 100%;
}

/* diseño de los items, en bloque para que toda la zona sea clicable, alineado al centro, sin decoracion y con padding y borde inferior y transicion cuando pasamos el raton */
header nav ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border-bottom: 1px solid grey;
    color: grey;
    transition: 1s;
}

/* para que el item 1 se quede con color al igual que en el ejemplo */
/* header nav ul li .activo {
    color: var(--color-principal);
} */

/* para que varie el color cuando pasamos el raton encima del enlace */
header nav ul li a:hover {
    color: var(--color-principal);
}

/* ---FIN HEADER--- */

/* ***INICIO FOOTER*** */ 

/* estilo del footer, color, padding, etc */
footer {
    background-color: var(--color-secundario);
    padding: 1.25em 0.625em;
    text-align: center;
}

/* color de p y a en blanco, si se pone directamente en footer los enlaces no tomarian el color */
footer p , footer a {
    color:white;
}

/* igual que el ejemplo, al pasar el puntero que desaparezca el subrayado del enlace */
footer a:hover {
    text-decoration: none;
}
/* ---FIN FOOTER--- */


/* *** INICIO MEDIA QUERIES DE HEADER Y FOOTER*** */

/* incluimos el texto del nav_top cuando se supera esta medida y en el footer se alinea a la izquierda */
@media(min-width: 48.000em) {
        header .nav_top a span {
            display: inline;
        }

        footer {
            text-align: left;
        }
}

/* eliminamos la hamburguesa y ponemos los items en horizontal */
@media(min-width: 62.750em) {
    header .hamburguesa {
       display: none;
    }

    header nav ul {
        width: auto;
        display: flex;

    }

    header nav ul li a {
        padding: 5px 20px;
        border-bottom: 0px;

    }
    
}

/* ---FIN MEDIA QUERIES DE HEADER Y FOOTER--- */

/* ***INICIO HERO*** */

/* incluimos la imagen, tamaño y el estilo del hero, impedimos que la imagen se repita, queremos que se coloque en la totalidad de su contenedor y que quede centrada, ademas de oscurecer la imagen.
Al incluir imagen y color se pueden combinar entre ambos mediante background blend mode para que aparezca oscurecido */
.hero {
    background-image: url("../images/fondo.jpg");
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: darkgrey;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

/* flex en hero para colocar los elementos dentro de la imagen, con with 100% los elementos se colocan centrados verticalmente */
.hero .container {
    width: 100%;
}

/* damos estilo a los elementos h1, h2 y p dentro del hero */
.hero h1 {
    font-family: var(--fuentesecundaria);
    font-size: 2.5em;
    color: white;
}

.hero h2 {
    color: var(--color-principal);
    font-size: 1.5em;
    margin: 1em 0;
  
}

.hero p {
    font-size: 1.15em;
    color: white;

   margin:0;
}

/* diseño del boton, hacemos una clase para usarla en todos los botones de la web */
.boton {
    display: inline-block;
    background-color: var(--color-principal);
    color: white;
    padding: 1em;
    text-decoration: none;
    margin: 1em 0;
    border: 1px solid var(--color-principal);
    width: 22%;
}

/* diseño del boton cuando pasamos raton por encima, modificando fondo, color de texto y transiciones */
.boton:hover{
    background-color: transparent;
    color: var(--color-principal);
}


.boton:hover i {
    transform: translateX(5px);
}

.boton i {
    transition: transform 0.5s;
}

/* ponemos los iconos rrss en linea y le damos el estilo */
.hero .social li {
    display: inline-block;
    font-size: 2em;
    text-align: left;
  
}

.hero .social a {
    margin: 0 .5em 0 0;
    color: white;
    text-decoration: none;
    text-align: left;

}
/* ---FIN HERO--- */

/* ***INICIO MAIN *** */

/* ***INICIO SECCION OUR SERVICES*** */

/* incluimos un margin abajo para que no se quede cortado el texto de los articulos */
main {
    margin-bottom: 90px;
}

/* para meter separacion en los elementos, usar padding o margin depende de si queremos mantener el color de fondo, aunque normalmente es mejor usar padding */ 
main section {
    padding: 2.125em 0;
}

/* estilo de los h2 del main */
main section h2 {
    color: black;
    font-family: var(--fuentesecundaria);
    font-size: 2em;
    text-align: center;
}

/* color de la palabra services */
main section h2 span {
    color: var(--color-principal);
}

/* estilo de la linea con la X cruzada */
main section .underline {
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: bold;
    margin-bottom: 2em;
    text-align: center;
}

main section .underline hr {
    border-color: var(--color-principal);
    position: absolute;
    width: 100%;
    top: -0.063em;
}

/* estilo de los articulos */
main #ourservices .flex {
    flex-wrap: wrap;
    padding: 0 0.825em;
}

main #ourservices .flex article {
    width: 100%;
    padding: 1.825em 0;
    border-bottom: 1px solid lightgrey;

}

/* diseño de los iconos */
main #ourservices .flex article div i {
    color: var(--color-principal);
    font-size: 2em;
    padding: 0.5em;
    border: 2px solid var(--color-principal);
}

/* dar la vuelta al icono del camion para que coincida con el ejemplo */
main #ourservices .flex article div .fa-truck {
    transform: rotateY      (180deg);
    }

/* estilo del titulo de los articulos */
main #ourservices .flex article h3 {
    font-weight: 700;
    margin: 1em 0;
}

/* estilo del enlace leer mas */
.enlace {
    text-decoration: none;
    margin-top: 1em;
    display: block;
    color: var(--color-principal);

}

/* ---FIN SECCION OUR SERVICES--- */

/* ***INICIO SECCION ABOUT US */

/* para pasar de 2 columnas a dos filas */
main #aboutus .flex {
    flex-direction: column;
}

/* padding de los elementos */
main #aboutus .flex .columna {
    padding: 0.825em;
}

/* estilo de fuente del h3 */
main #aboutus .flex .columna h3{
    font-weight: 700;
}

/* estilo de funte h4 */
main #aboutus .flex .columna h4{
    color: var(--color-principal);
    margin: 1em 0;
}
/* 

/* estilo del marco y su animacion */
main #aboutus .marco {
    border: 3px solid var(--color-principal);
    transform: rotateZ(10deg);
    width: 90%;
    margin: 0 auto;
    transition: 1s;

}


/* para que la imagen se mantenga en horizontal */
main #aboutus .marco img {
    transform: rotateZ(-10deg);
    transition: 1s;
}

/* para que el marco envuelva a la foto al pasar el raton por encima */
main #aboutus .columna:hover .marco , main #aboutus .columna:hover img {
    transform: rotateZ(0deg);

}
/* ---FIN SECCION ABOUT US--- */



/* *** INICIO MEDIA QUERIES DE MAIN*** */

/* el width 100% es para que el tercer articulo ocupe todo el ancho en esta medida */
@media(min-width:48.000em) {
    main #ourservices .flex article {
        width: 50%;
        padding: 1.825em;
        border-bottom: 0px;
        border-left: 1px solid grey;
        margin-bottom: 1em;
    }

    main #ourservices .flex article:last-child {
        width: 100%;
    }

    main #aboutus .flex {
        flex-direction: row;
    }
}

@media(min-width:62.750em) {
    main #ourservices .flex article {
        width: 33.33%;
    }
    main #ourservices .flex article:last-child {
        width: 33.33%;
    }
}

/* ---FIN MEDIA QUERIES DEL MAIN--- */

/* ---FIN MAIN--- */

/* ***INICIO MAIN BLOG*** */ 

 main .flex article.blogart {
    width: 100%;
    padding: 1.825em 1em; 
    position: relative;
 

} 

main .flex article.blogart h2 {
    font-family: var(--fuenteprincipal);
    font-size: 1.3em;
    text-align: left;
    padding: 1em;
}

main .flex article.blogart h3 {
    color: var(--color-principal);
    font-weight: 700;
    padding: 0 0 1em 1.3em;
}

main .flex article.blogart p {
    padding: 0 1.3em 1em 1.3em;
}

.enblog{
    padding: 1em 0em 0 1.3em;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-principal);
}

main section .cuadrado {
    width: 80px;
    height: 80px;
    background-color: rgba(250, 87, 58, 0.7);
    position: absolute;
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    color: white;
    
}

/* ---FIN MAIN BLOG--- */

/* ***INICIO MEDIA QUERIES BLOG*** */

@media(max-width: 48.000em) {
   
  main section article.blogart:last-child {
        display: none;
    } 
    .enblog{
        padding: 3em 0em 0 1.3em;
       
    }
}

/* ---FIN MEDIA QUERIES BLOG--- */

/* ***INICIO MAIN MENU*** */
 main section nav.navegacion {
    width: 30%;
    padding-right: 3em;

} 

.act {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.6em;
    
}

a.act:hover {
    background-color: var(--color-principal);
    border-radius: 4px;
}

.lineamenu {
    width: 25%;
    border-color: var(--color-principal);
    margin-left: 0;
}

main section nav div h3.act {
    font-weight: bold;
    margin-top: 3em;
}

.todaysmenu article {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 3em;
    margin-left: 5em;

   
} 

.todaysmenu article div:first-child {
    width: 20%;
}
 

.textomenu h2 {
    font-family: var(--fuenteprincipal);
    font-size: 1em;
    padding-bottom: 0.5em;
    font-weight: bold;
    color: white;
   
}


.textomenu h2 , .textomenu p, .textomenu a {
    font-family: var(--fuenteprincipal);
    width: 100%;

    margin-left: 1.5em;
    text-align: left;
}



.textomenu {
    width: 80%;
   
} 

.precio {
    color: var(--color-principal);
    font-weight: bold;
    margin-left: 2em;
}

#menucentral {
    background-color: var(--color-secundario);
    color: white;
}

#today {
    color: white;
}

/* ***INICIO MEDIA QUERIES DEL MENU*** */

@media(max-width:48.000em) {
  
    main section div div.flex {
        flex-direction: column;
        margin: 0 auto;
    }

    main section nav.navegacion {
        width: 100%;
        margin: 0 auto;
    }

    a.act:hover {
        background-color: var(--color-principal);
        border-radius: 4px;
        width: 100%;
    }

    .act {
        width: 100%;
        text-align: left;
    
    }

    h3.act {

        margin-top: 1em;
        padding-left: 1.2em;
    }

    .lineamenu {
        width: 12%;
        margin: 1.2em;
       
    }

    .todaysmenu article {
        flex-direction: column;
        margin: 0 auto;
        position: relative;
    }

    .todaysmenu article div:first-child {
        width: 85%;
        margin: 0 auto;
    }

    .textomenu {
        width: 85%;
        margin: 1em auto 2em auto;
        text-align: left;
        padding-left: 0;

    }

    .precio {
        position: absolute;
        right: 40px;
        bottom: 87px;
     
 
    }

    .todaysmenu {
        margin-top: 1em;
    }
   
    
}
/* ---FIN MAIN MENU--- */
